<div id="task"> <div id="check"><%=link_to "#" do %>
  <i class="fa fa-lg fa fa-square-o check-icon"></i>
<%end%></div>
<div id="task_line"></div><div id="tasks_line"></div><p id="t_name"><%= task.name%></p><div id="gr_line">
</div> 
<div class="mod_t"><div id="pencil_t"><%=link_to "tasks/edit/#{task.id}" do%>
        <i class="fa fa-pencil" style="color:grey"></i>
        <%end%></div><div id="p-line">|</div>
<div id="trash_t"><%=link_to "tasks/destroy/#{task.id}",  method: :delete do%>
        <i class="fa fa-trash-o" style="color:grey"></i>
        <%end%></div>
    </div></div>
