<% value=@project %>
<%= form_tag("/view/update/#{value.id}", method: :patch) do %>
 <label><%= "Rename project "+value.title%></label>
	<%= text_field_tag "title", value.title, id:"re-title" %>
	<%= button_tag "", class: "fa fa-check" %>
<%end%>

