@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}
header{
  margin-left:50px;
}
body {
  padding-top: 60px;
  text-align: center;
  background: image-url("back.png");
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/*footer*/
footer{
	color:white;
  margin-top: 20px;
  margin-left:50px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.form{
	margin-left:41.5%;
  width:300px;
  border:1px solid;
  margin-top: 10px;
  background: linear-gradient(to top left, #778899, #B0C4DE);
}
.form label{
  margin-top: 15px;
  color:white;
  text-shadow: black 1px 1px 0, black 1px 1px 0;
}
.form input[type="text"],[type="password"]{
  width:200px;
}
.form input[type="submit"]{
margin-right: 140px;


}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }

}
#erors{
  border: 1px solid #F08080;

}
#er{
  width:300px;
  border: 1px solid #F08080;
  margin-left:40.5%;
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
}
.s{
  background: linear-gradient(to top left, #4169E0, #6495ED);
  height: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  color: white;
  font-size: 16pt;
  text-shadow: black 1px 1px 0, black 1px 1px 0;
  padding-top:10px;
}
.form p{
  color:white;
  margin-left: 115px;
  transform: translate(0,-45px);
}

.form a{
  color: #0000CD;
}

#s-out{
  position: absolute;
  top:0px;
  right:0px;
}
/*buttons/icons add/edit/delete List*/
#add-list{
  margin-top:20px;
  width:180px;
  font-size: 16px;
  height: 40px;
  text-align: right;
  color:white;
  border: 1px solid  grey;
  border-radius: 4px;
  background: linear-gradient(to top left, #4169E0, #6495ED);
  margin-left: 60px;
}
#add-list b{
  margin-right: 7px;
}

#pluss{
  margin-left: -37px;
  margin-top:-3px;
  position: absolute;
  color: #2F4F4F;
  text-shadow:  #B0C4DE 1px 1px 0,  #B0C4DE 1px 1px 0;

}

/*projects*/

.proj{
  margin-top:10px;
  width:600px;
  font-size: 16px;
  height: 45px;
  text-align: left;
  color:white;
  border: 1px solid  grey;
  background: linear-gradient(to top left, #4169E0, #6495ED);
  margin-left:34%;

}
.proj p{
  margin-top:-19px;
  margin-left: 50px;
  

}

#calendar{
  margin-left: 18px;
  margin-top:11px;
  color: black;
  text-shadow:  #B0C4DE 1px 1px 0,  #B0C4DE 1px 1px 0;
}
.mod{
  display: none;
}
.proj:hover .mod{
  display:block;
}
#trashs{
  margin-left:560px;
  color: white;
  margin-top: -20px;
  
}
#trashs i{
  color:white;
  
}
#trashs i:hover{
  color:red;
}
#v-line{
  color: #2F4F4F;
  text-shadow:  #B0C4DE 1px 1px 0,  #B0C4DE 1px 1px 0;
  margin-top: -30px;
  margin-left: 90.5%;
}
.p_pencil{
  margin-left:45px;
  color:white;
  margin-top:14px;
}

.p_pencil:hover{
  color:#32CD32;
}
.ed{
  width:20px;
  margin-top:-31px;
  margin-left: 475px;
}
/*edit*/
#re-title{
  width:440px;

}
#re{
  width:500px;
  margin-left:48px;
  margin-top:-20px;
}
.fa-check{
  margin-top:-7px;
  background-color: white;
}
/*tasks */
#task_name{
  width:490px;
  margin-top:-8.5%;
}

#add_task{
  margin-left:75%;
  margin-top:-9%;
 
 
  
}
#task_place{
  background: linear-gradient(to top left, #C0C0C0, #D3D3D3);
  height: 50px;
  border: 1px solid  grey;
  width:599px;
  margin-left:34%;

}
#plus_l{
  
  height:30px;
  width:30px;
  margin-right:92%;
  margin-top:2%;
  color: #2E8B57;
  text-shadow:  black  0px 0px 0px,  black 0px -2px 0px;

}

#task{
  width:598px;
  border-top: 1px solid  #D3D3D3;
  height: 50px;
}
#tasks_place{
  
  width:598px;
  margin-left:34.11%;
  border: 1px solid grey;
  border-radius: 0 0 15px 15px;
  background-color: white;
}

.t_name{
  margin-top:-5.8%;
  text-align:left;
  margin-left:12%;
}
#task_line{
  background-color: #F4A460;
  height:50px;
  width:1px;
  margin-left:50px;
  margin-top: -5.26%;
}
#tasks_line{
  background-color: #F4A460;
  height:50px;
  width:1px;
  margin-left:43px;
  margin-top: -8.3%;

}
#gr_line{
  background-color: #D3D3D3;
  height:49px;
  width:1px;
  margin-left:80%;
  margin-top:-7.2%;
}
#check{
text-align: justify;
margin-left:15px;
margin-top:15px;
height:15px;
width:15px;
}
#task:hover{
  background-color: #FAEBD7;
  height:50px;
  border-radius: 0 0 15px 15px;
}
#p-line{
  width:10px;
  margin-top:-20px;
  margin-left:90%;
}
#trash_t{
  width:10px;
  margin-top:-20px;
  margin-left:93%;
  color:grey;
}
#pencil_t{
  margin-left: 75%;
  margin-top: -6%;
}
.mod_t{
  display:none;
}
#task:hover .mod_t{
  display:block;
}
.re_task{
  height:30px;
  margin-top:-40px;
  margin-left:10%;
  width:500px;
}
#re-t{
  width:450px;
}