@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  text-align: center;
  background: image-url("back.png");
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/*footer*/
footer{
	color:white;
  margin-top: 20px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.form{
	margin-left:40%;
  width:300px;
  border:1px solid;
  margin-top: 10px;
  background: linear-gradient(to top left, #778899, #B0C4DE);
}
.form label{
  margin-top: 15px;
  color:white;
  text-shadow: black 1px 1px 0, black 1px 1px 0;
}
.form input[type="text"],[type="password"]{
  width:200px;
}
.form input[type="submit"]{
margin-right: 140px;


}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }

}
#erors{
  border: 1px solid #F08080;

}
#er{
  width:300px;
  border: 1px solid #F08080;
  margin-left:39%;
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
}
.s{
  background: linear-gradient(to top left, #4169E0, #6495ED);
  height: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  color: white;
  font-size: 16pt;
  text-shadow: black 1px 1px 0, black 1px 1px 0;
  padding-top:10px;
}
.form p{
  color:white;
  margin-left: 115px;
  transform: translate(0,-45px);
}

.form a{
  color: #0000CD;
}

#s-out{
  position: absolute;
  top:0px;
  right:0px;
}
/*buttons/icons add/edit/delete List*/
#add-list{
  margin-top:20px;
  width:180px;
  font-size: 16px;
  height: 40px;
  text-align: right;
  color:white;
  border: 1px solid  grey;
  border-radius: 4px;
  background: linear-gradient(to top left, #4169E0, #6495ED);
}
#add-list b{
  margin-right: 7px;
}

#pluss{
  margin-left: -37px;
  margin-top:-3px;
  position: absolute;
  color: #2F4F4F;
  text-shadow:  #B0C4DE 1px 1px 0,  #B0C4DE 1px 1px 0;

}

/*projects*/

.proj{
  margin-top:10px;
  width:550px;
  font-size: 16px;
  height: 45px;
  text-align: left;
  color:white;
  border: 1px solid  grey;
  border-radius: 4px;
  background: linear-gradient(to top left, #4169E0, #6495ED);
  margin-left:34%;

}
.proj p{
  margin-top:-19px;
  margin-left: 35px;
  

}

#calendar{
  margin-left: 10px;
  margin-top:11px;
  color: black;
  text-shadow:  #B0C4DE 1px 1px 0,  #B0C4DE 1px 1px 0;
}
.mod{
  display: none;
}
.proj:hover .mod{
  display:block;
}
#trashs{
  margin-left:511px;
  color: white;
  margin-top: -20px;
  
}
#trashs i{
  color:white;
  
}
#trashs i:hover{
  color:red;
}
#v-line{
  color: #2F4F4F;
  text-shadow:  #B0C4DE 1px 1px 0,  #B0C4DE 1px 1px 0;
  margin-top: -30px;
  margin-left: 90.5%;
}
.fa-pencil{
 
  color:white;
  margin-top:14px;
}

.fa-pencil:hover{
  color:#32CD32;
}
.ed{
  width:20px;
  margin-top:-31px;
  margin-left: 475px;
}
/*edit*/
#re-title{
  width:370px;

}
.fa-check{
  margin-top:-7px;
  background-color: white;
}

#edit{
  margin-top: -80px;
  margin-right: 20px;
}