<header>
  <% if signed_in? %>
   <%= button_to "Sign out", signout_path, method: "delete", class: "btn btn-success", id:"s-out"%>
  <% end %>
            <h2>SIMPLE TODO LISTS</h2>
FROM RUBY GARAGE
  
</header>